{% extends "base.html" %}

{% block home %}
  <li role="presentation" class="active"t><a href="/index">Home</a></li>
{% endblock %}


{% block content %}
<div class="jumbotron">

  <div class="row marketing">
    <h2>Is our future president smarter than a third...
    </h2>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src={{ url_for('static', filename="img/trump_only.png") }} >
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src={{ url_for('static', filename="img/trump_bender.png") }} >
    </div>
    <p>...order part of speech tagging markov chain?</p>
  </div>

  <div class="row marketing">
    <form  action="/output" method="GET">
      <div class="form-group">
        <input type="text" id="question" name='question' placeholder="e.g. ">
      </div>
      <button type="submit" class="btn btn-success btn-lg">Ask questions and you decide!</button>
    </form>
  </div>

</div>
{% endblock %}
