{% extends "base.html" %}

{% block home %}
  <li role="presentation" class="active"><a href="/index">Home</a></li>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <form  action="/output" method="GET">

      <div class="row marketing">
        <h3> {{ error_msg }} </h3>
      </div>
      <div class="row marketing">
        <div class="form-group">
          <input type="text" id="question" name='question' placeholder="e.g. ">
        </div>
      </div>

      <div class="row marketing">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button type="submit" class="btn btn-default btn-lg">Ask another question!</button>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <p><a class="btn btn-lg btn-success" href="/results" role="button">Go to your results!</a></p>
        </div>
      </div>

    </form>

  </div>

<div class="row marketing">
  <h2>Question Summary:</h2>
  {% for response in responses %}
  <b>Question {{ response['question_num'] }}: </b>{{ response['question'] }}<br>
  <b>Trump Answer:</b> {{ response['trump_text'] }} <b>[You chose {{ response['trump_userguess'] }}]</b><br>
  <b>Clinton Answer:</b> {{ response['clinton_text'] }} <b>[You chose {{ response['clinton_userguess'] }}]</b><br><br>
  {% endfor %}
</div>
{% endblock %}
