<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Does Trump have the best words?</title>

    <!-- Bootstrap core CSS -->
    <link href={{ url_for('static', filename="css/bootstrap.min.css") }} rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={{ url_for('static', filename="css/jumbotron-narrow.css") }} rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- load D3plus with all dependencies -->
    <script src={{ url_for('static', filename="js/d3plus.full.min.js") }}></script>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/index">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PoliBot Wars</h3>
      </div>

      <div class="row market">
        <h3>Question: {{ question }}</h3>
      </div>

      <form action="{{ url_for('logData') }}" method='POST'>
      <div class="row output">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="centerBlock">
            <input type="radio" name="Trump_Answer" value="Tnot" checked>
            <label for="Tnot">Trump</label>
            <input type="radio" name="Trump_Answer" value="Tbot">
            <label for="Tbot">Trump Bot</label>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-54"></div>
      </div>
      <div class="row output">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src={{ url_for('static', filename="img/trump_only.png") }}>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div id=viz_trump></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src={{ url_for('static', filename="img/trump_bender.png") }}>
        </div>
      </div>

      <div class="row output">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src={{ url_for('static', filename="img/clinton_only.png") }}>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div id=viz_clinton></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src={{ url_for('static', filename="img/hilary_bender.png") }}>
        </div>
      </div>

      <div class="row output">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="centerBlock">
            <input type="radio" name="Clinton_Answer" value="Cnot" checked>
            <label for="Cnot">Clinton</label>
            <input type="radio" name="Clinton_Answer" value="Cbot">
            <label for="Cbot">Clinton Bot</label>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-54"></div>
      </div>

      <div class="row market">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="centerBlock">
            <input type='submit' class="btn btn-success btn-lg" value='Submit Responses'>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
      </div>
    </form>

    </div>

    <script>

      // sample data array
      var sample_data = {{ trump_data|safe }}

      // Need a variable for
      // Need a variable for the full text here

      var visualization = d3plus.viz()
        .container("#viz_trump")  // container DIV to hold the visualization
        .data(sample_data)  // data to use with the visualization
        .type("tree_map")   // visualization type
        .id("speaker_text")         // key for which our data is unique on
        .size("size")      // sizing of blocks
        .height(185)
        .draw();

      var sample_data2 = {{ clinton_data|safe }}

      var visualization = d3plus.viz()
        .container("#viz_clinton")  // container DIV to hold the visualization
        .data(sample_data2)  // data to use with the visualization
        .type("tree_map")   // visualization type
        .id("speaker_text")         // key for which our data is unique on
        .size("size")      // sizing of blocks
        .height(185)
        .draw();

      var toggles = d3plus.form()
        .data("[name=Trump_Answer]")
        .draw()

      var toggles = d3plus.form()
        .data("[name=Clinton_Answer]")
        .draw()

    </script>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
