{% extends "base.html" %}

{% block scripts %}
<!-- load D3plus with all dependencies -->
<script src={{ url_for('static', filename="js/d3plus.full.min.js") }}></script>
{% endblock %}

{% block home %}
  <li role="presentation" class="active"t><a href="/index">Home</a></li>
{% endblock %}

{% block content %}
<div class="row market">
  <h3>Question: {{ question }}</h3>
</div>

<form action="{{ url_for('logData') }}" method='POST'>
<div class="row output">
  <div class="col-lg-4 col-md-4 col-sm-4"></div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="centerBlock">
      <input type="radio" name="Trump_Answer" value="Tnot" checked>
      <label for="Tnot">Trump</label>
      <input type="radio" name="Trump_Answer" value="Tbot">
      <label for="Tbot">Trump Bot</label>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-54"></div>
</div>
<div class="row output">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <img src={{ url_for('static', filename="img/trump_only.png") }}>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div id=viz_trump></div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <img src={{ url_for('static', filename="img/trump_bender.png") }}>
  </div>
</div>

<div class="row output">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <img src={{ url_for('static', filename="img/clinton_only.png") }}>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div id=viz_clinton></div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <img src={{ url_for('static', filename="img/hilary_bender.png") }}>
  </div>
</div>

<div class="row output">
  <div class="col-lg-4 col-md-4 col-sm-4"></div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="centerBlock">
      <input type="radio" name="Clinton_Answer" value="Cnot" checked>
      <label for="Cnot">Clinton</label>
      <input type="radio" name="Clinton_Answer" value="Cbot">
      <label for="Cbot">Clinton Bot</label>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-54"></div>
</div>

<div class="row market">
  <div class="col-lg-4 col-md-4 col-sm-4"></div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="centerBlock">
      <input type='submit' class="btn btn-success btn-lg" value='Submit Responses'>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4"></div>
</div>
</form>

<script>

  // sample data array
  var sample_data = {{ trump_data|safe }}

  // Need a variable for
  // Need a variable for the full text here

  var visualization = d3plus.viz()
    .container("#viz_trump")  // container DIV to hold the visualization
    .data(sample_data)  // data to use with the visualization
    .type("tree_map")   // visualization type
    .id("text")         // key for which our data is unique on
    .height(185)
    .size("size")
    .draw();

  var sample_data2 = {{ clinton_data|safe }}

  var visualization = d3plus.viz()
    .container("#viz_clinton")  // container DIV to hold the visualization
    .data(sample_data2)  // data to use with the visualization
    .type("tree_map")   // visualization type
    .id("text")         // key for which our data is unique on
    .height(185)
    .size("size")
    .draw();

  var toggles = d3plus.form()
    .data("[name=Trump_Answer]")
    .draw()

  var toggles = d3plus.form()
    .data("[name=Clinton_Answer]")
    .draw()

</script>
{% endblock %}
